################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/KadoshModas/.vs/KadoshModas/v16/Server/sqlite3/db.lock
/KadoshModas/.vs/KadoshModas/v16/Server/sqlite3/storage.ide
/KadoshModas/.vs/KadoshModas/v16/Server/sqlite3/storage.ide-shm
/KadoshModas/.vs/KadoshModas/v16/Server/sqlite3/storage.ide-wal
/KadoshModas/KadoshModas/bin/Debug/FotosClientes/FC_1.jpg
