<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FontAwesome.Sharp" version="5.12.1" targetFramework="net472" />
  <package id="Microsoft.SqlServer.Management.SqlParser" version="150.37051.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net48" />
</packages>